extends ../layout.pug

block source_code
    nav(class ="container")
        div(class="nav-wrapper")
            ul(class="brand-logo center")
                li(class="disabled")
                    a(href="/information/twitter/" + last_page)
                        i(class="material-icons") chevron_left
                for page in pagination
                    - var num = page - 1;
                    li(class="disable")
                        a(href="/information/twitter/" + num) #{page}
                li(class="disabled")
                    a(href="/information/twitter/" + next_page)
                        i(class="material-icons") chevron_right

    div(class="container w3-display-middle")
        div(class="row")
            div(class="card-panel grey lighten-5 z-depth-1 col s6 offset-s3")
                div(class="container")
                    br
                    a(href="https://twitter.com/"+twitter_user.user class="link")
                        div(class="center-align")
                            img(src=twitter_user.profile_picture class="circle z-depth-2")
                        div(class="center-align")
                            div(class="col s12" style="padding-top:5%; padding-left:10%;")
                                i(class="material-icons") #{twitter_user.protected_icon}
                                span(style="font: 2em 'Open Sans';")   #{twitter_user.user}
                                br
                                br
        br
        ul(class="collection")
            li(class="collection-item avatar")
                i(class="material-icons circle purple lighten-1") person
                span(class="title")
                    b Name:
                p #{twitter_user.name}
            li(class="collection-item avatar")
                i(class="material-icons circle blue lighten-1") lightbulb_outline
                span(class="title") 
                    b Description:
                p #{twitter_user.description}
            li(class="collection-item avatar")
                i(class="material-icons circle green lighten-1") place
                span(class="title") 
                    b Location:
                p #{twitter_user.location}
            li(class="collection-item avatar")
                i(class="material-icons circle yellow darken-2") public
                span(class="title") 
                    b URL:
                p
                    a(href=twitter_user.url) #{twitter_user.url}
            li(class="collection-item avatar")
                i(class="material-icons circle red lighten-1") group
                span(class="title") 
                    b Following:
                p #{twitter_user.following}
                span(class="title") 
                    b Followers:
                p #{twitter_user.followers}

block styles
    style.

        /* https://coolors.co/a393bf-9882ac-73648a-453750-0c0910 */
        :root {
            --pallete-1: #A393BF;
            --pallete-2: #9882AC;
            --pallete-3: #73648A;
            --pallete-4: #453750;
            --pallete-5: #0C0910;
        }

        .link {
            color: var(--pallete-5);
        }

        .nav-wrapper {
            margin-top: 1em;
            background-color: var(--pallete-2);
        }

        .title {
            color: #778899;
            color: var(--pallete-4);
        }