extends ../layout.pug

block styles
    style.
        .title {
            color: #778899;
        }

block source_code
    div(class="w3-display-middle")
        div(class="row valign-wrapper")
            div(class="card-panel grey lighten-5 z-depth-1")
                a(href="#!" id="profile_url")
                    div(class="col s2 center-align")
                        img(src="#!" id="picture" class="circle z-depth-2")
                    div(class="col s10 center-align")
                        div(class="col s12" style="padding-top:5%; padding-left:10%;")
                            i(class="material-icons") #{twitter_information['protected_icon']}
                            span(style="font: 2em 'Open Sans';")   #{twitter_information['user']}
        br
        ul(class="collection")
            li(class="collection-item avatar")
                i(class="material-icons circle purple lighten-1") person
                span(class="title")
                    b Name:
                p #{twitter_information['name']}
            li(class="collection-item avatar")
                i(class="material-icons circle blue lighten-1") lightbulb_outline
                span(class="title") 
                    b Description:
                p #{twitter_information['description']}
            li(class="collection-item avatar")
                i(class="material-icons circle green lighten-1") place
                span(class="title") 
                    b Location:
                p #{twitter_information['location']}
            li(class="collection-item avatar")
                i(class="material-icons circle yellow darken-2") public
                span(class="title") 
                    b URL:
                p
                    a(href="#!" id="url") #{twitter_information['url']}
            li(class="collection-item avatar")
                i(class="material-icons circle red lighten-1") group
                span(class="title") 
                    b Following:
                p #{twitter_information['following']}
                span(class="title") 
                    b Followers:
                p #{twitter_information['followers']}


    script.
        function updateLinks() {
            document.getElementById('url').href = "#{twitter_information['url']}";
            document.getElementById('profile_url').href = "https://twitter.com/#{twitter_information['user']}"
            document.getElementById('picture').src = "#{twitter_information['profile_picture']}";
        }
        updateLinks();