extends ../layout.pug

block source_code

    // Navbar
    nav(class ="container")
        div(class="nav-wrapper")
            // Pagination
            ul(class="brand-logo center")
                for page in pagination
                    - var num = page - 1;
                    li(class="disable")
                        a(href="/information/twitter/" + num) #{page}

    // Content
    div(class="container w3-display-middle")
        div(class="row")
            // Card Panel
            div(class="card-panel grey lighten-5 z-depth-1 col s6 offset-s3")
                div(class="container")
                    br
                    a(href="https://twitter.com/"+twitter_user.user class="link")
                        div(class="center-align")
                            img(src=twitter_user.profile_picture class="circle z-depth-2")
                        div(class="center-align")
                            div(class="col s12" style="padding-top:5%; padding-left:10%;")
                                i(class="material-icons") #{twitter_user.protected_icon}
                                span(style="font: 2em 'Open Sans';")   #{twitter_user.user}
                                br
                                br
        br
        ul(class="collection")
            // Name
            li(class="collection-item avatar")
                i(class="material-icons circle purple lighten-1") person
                span(class="title")
                    b Name:
                p #{twitter_user.name}
            // Description
            li(class="collection-item avatar")
                i(class="material-icons circle blue lighten-1") lightbulb_outline
                span(class="title") 
                    b Description:
                p #{twitter_user.description}
            // Location
            li(class="collection-item avatar")
                i(class="material-icons circle green lighten-1") place
                span(class="title") 
                    b Location:
                p #{twitter_user.location}
            // URL
            li(class="collection-item avatar")
                i(class="material-icons circle yellow darken-2") public
                span(class="title") 
                    b URL:
                p
                    a(href=twitter_user.url class="link") #{twitter_user.url}
            // Follows
            li(class="collection-item avatar")
                i(class="material-icons circle red lighten-1") group
                span(class="title") 
                    b Following:
                p #{twitter_user.following}
                span(class="title") 
                    b Followers:
                p #{twitter_user.followers}

block styles
    style.

        .link {
            color: var(--palette-5);
        }
        .nav-wrapper {
            margin-top: 1em;
            background-color: var(--palette-2);
        }
        .tittle {
            color: #778899;
            color: var(--palette-4);
        }